name: CadServices Ping

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "*/5 * * * *"  # every 5 minutes
  workflow_dispatch:  # allows manual trigger

permissions:
  contents: read  # no need to write logs

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run ping
        run: python app.py
